h2 {
  text-align: center;
}

.table {
  width: 80%;
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  th,
  td {
    border: 1px solid gray;
    padding: 1%;
    width: 20%;
    text-align: left;
  }
  button {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 5px;
    cursor: pointer;
  }

  tbody tr {
    &:hover {
      button {
        display: block;
      }
      background-color: gray;
    }
  }
}
